
body {
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

.container {
    height: 500px;   
    width: 500px;   
    border: 5px solid #fff;
    
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.dino {
    position: relative;
    height: 200px;
    width: 130px;

    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%  ;
    background: #458751;

    top: 150px;
    left: 180px;

    animation: 3s bouncing infinite;

}

.head {
    position: relative;
    height: 125px;
    width: 170px;
    
    border-radius: 60% 40% 100% 0% / 30% 65% 35% 70% ;
    transform: rotate(7deg);
    background: #458751;

    left: 13px;
    bottom: 20px;
}

.eye {
    position: relative;
    height: 30px;
    width: 30px;

    border-radius: 50%;
    background: #fff;

    top: 40px;
    left: 30px;

    display: flex;
    padding: 3px;

    animation: 5s eye-animation infinite;
}

.pupil {
    position: relative;
    height: 25px;
    width: 25px;

    border-radius: 50%;
    background: #555;
}

.tail {
    position: relative;
    height: 85px;
    width: 100px;

    border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
    background: #458751;
    
    right: 50px;
    bottom: 51px;
}

.scales {
    position: relative;
    height: 200px;
    width: 130px;

    
    height: 0;
    width: 0;
    z-index: 1;
    
}

.s1, .s2, .s3 {
    position: relative;
    /* background: #295130; */

    border-bottom: 20px solid #295130;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /* border-radius: 4px; */
}

.s1 {
    /* bottom: 160px;
    left: 40px;
    transform: rotate(-10deg); */
    transform: rotate(-82deg);
    bottom: 120px;
    right: 8px;
}
.s2 {
    transform: rotate(-82deg);
    bottom: 100px;
    right: 14px;
}

.s3 {
    transform: rotate(-82deg);
    bottom: 80px;
    right: 19px;
}


.arm {
    position: relative;
    height: 40px;
    width: 35px;

    background: #376C41;
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%  ;

    transform-origin: top;
    animation: arm-animation 3s infinite;

    bottom: 25px;
    left: 40px; 
    z-index: 1;
}

.feet {
    position: relative;
    /* bottom: 80px; */
    
    display: flex;
    justify-content: center;
}

.f1, .f2 {
    position: relative;
    bottom: 80px;

    height: 50px;
    width: 45px;

    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%  ;
    transform-origin: top;
}

.f1 {
    background: #458751;
    z-index: -1;
    animation: front-leg-animation 3s infinite;
}

.f2 {
    bottom: 5px;
    right: 10px;
    background: #376C41;
    z-index: -2;
    animation: back-leg-animation 3s infinite;
}

.shadow {
    position: relative;
    height: 30px;
    width: 230px;
    background: #999;
    opacity: .5;
    
    border-radius: 50%;

    top: 155px;
    left: 130px;

    z-index: -3;
}



/* ------ */


@keyframes bouncing  {
    0% {
        top: 154px;
    }
    
    25% {
        top: 150px;
    }

    50% {
        top: 154px;
    }

    75% {
        top: 150px;
    }

    100% {
        top:154px;
    }
}

@keyframes front-leg-animation  {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        bottom: 80px;
    }

    25% {
        bottom: 77px;
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        bottom: 80px;
    }

    75% {
        bottom: 83px;
    }

    100% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        bottom: 80px;
    }
}

@keyframes back-leg-animation  {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        bottom: 85px;
    }

    25% {
        bottom: 88px;
    }

    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        bottom: 85px;
    }

    75% {
        bottom: 82px;
    }

    100% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        bottom: 85px;
    }
}
 

@keyframes arm-animation {
    0% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    
    50% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    100% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}

@keyframes eye-animation {
    0% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}