
body {
    display: grid;
    place-items: center;
    height: 100vh;

    overflow: hidden;
}

#items-wrapper {
    width: 100vw;
}

#items {
    display: flex;
    height: 50vh;
    
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.item {
    flex: none;
    width: 33.3%;

    scroll-snap-align: start;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    pointer-events: revert;
}


@media(max-width: 1100px) {
    .item {
        width: 100%;

    }
}