html, body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background-color: #222222;

    height: 100%;
}

.page-container {
    height: 100%;
    display: grid;
}

.page-container a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #8C9299;
}

.page-container > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 55px;
    padding: 25px;
}

.header {
    align-self: start;
    margin-top: 55px;
}

.footer {
    align-self: end;
    margin-bottom: 55px;
}


/*  CARDS  */
.content {}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    perspective: 1000px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    list-style: none;
    
    transform-style: preserve-3d;

    animation: carousel 10s infinite;
}

.carousel > .card {
    background: #444444;
    
    width: 445px;
    height: 482px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    
    opacity: 0.8;

    /* animation: card 10s infinite; */
}


/* .carousel > .card.selected {
    opacity: 1;
} */


.carousel > .card:nth-child(1) { 
    animation: card1 10s infinite; 
}
.carousel > .card:nth-child(2) { 
    animation: card2 10s infinite; 
}
.carousel > .card:nth-child(3) { 
    animation: card3 10s infinite; 
}
.carousel > .card:nth-child(4) { 
    animation: card4 10s infinite; 
}

@keyframes carousel { 
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@keyframes card1 { 
    0% {
        -webkit-transform: translateZ(0) translateX(200px) rotateY(0);
        transform: translateZ(0) translateX(200px) rotateY(0);
        /* opacity: .5; */
    }
    /* 25% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .25;
    } */
    100% {
        -webkit-transform: translateZ(0) translateX(200px) rotateY(360deg);
        transform: translateZ(0) translateX(200px) rotateY(360deg);
        /* opacity: 0.5; */
    }
}
@keyframes card2 { 
    0% {
        -webkit-transform: translateZ(0) translateX(-200px) rotateY(0);
        transform: translateZ(0) translateX(-200px) rotateY(0);
    }
    100% {
        -webkit-transform: translateZ(0) translateX(-200px) rotateY(360deg);
        transform: translateZ(0) translateX(-200px) rotateY(360deg);
    }
}
@keyframes card3 { 
    0% {
        -webkit-transform: translateZ(200px) translateX(0) rotateY(0);
        transform: translateZ(200px) translateX(0) rotateY(0);
    }
    100% {
        -webkit-transform: translateZ(200px) translateX(0) rotateY(360deg);
        transform: translateZ(200px) translateX(0) rotateY(360deg);
    }
}
@keyframes card4 { 
    0% {
        -webkit-transform: translateZ(-250px) translateX(0) rotateY(0);
        transform: translateZ(-250px) translateX(0) rotateY(0);
    }
    100% {
        -webkit-transform: translateZ(-250px) translateX(0) rotateY(360deg);
        transform: translateZ(-250px) translateX(0) rotateY(360deg);
    }
}
/* 
@keyframes carousel { 
    0%, 17.5% {
        -webkit-transform: translateZ(-182px) rotateY(0);
        transform: translateZ(-182px) rotateY(0);
    }
    27.5%, 45% {
        -webkit-transform: translateZ(-182px) rotateY(-120deg);
        transform: translateZ(-182px) rotateY(-120deg);
    }
    55%, 72.5% {
        -webkit-transform: translateZ(-182px) rotateY(-240deg);
        transform: translateZ(-182px) rotateY(-240deg);
    }
    82.5%, 100% {
        -webkit-transform: translateZ(-182px) rotateY(-360deg);
        transform: translateZ(-182px) rotateY(-360deg);
    }
} */