
body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

.container {
    height: 500px;   
    width: 500px;   
    border: 5px solid #fff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* CAIXA */
.box {
    height: 120px;
    width: 200px;
    background-color: #888;

    position: relative;
    top: 300px;
    left: 150px
}

.b1, .b2 {
    height: 7px;
    width: 50px;
    background-color: #888;
    position: relative;
}

.b1 {
    right: 48px;
    transform: rotate(-20deg);
    transform-origin: right;
}

.b2 {
    left: 198px;   
    bottom: 7px;
    transform: rotate(20deg);
    transform-origin: left;
}


.shadow {
    height: 40px;
    width: 240px;
    background-color: #888;
    
    border-radius: 50%;
    
    position: relative;

    top: 280px;
    left: 130px;

    opacity: .5;
    z-index: -1;
}


/* GATINEO */

.cat {
    position: relative;

    bottom: 50px;
    left:40px;

    z-index: -1;

    transition: .2s;
}

.face {
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 50%;
}

.lower {
    height: 40px;
    width: 140px;
    background-color: #fff;

    border-radius: 0 0 140px 140px;

    position: relative;
    top: 60px;
    right: 10px;    
}

.ear-l, .ear-r {
    height: 0;
    width: 0;
    border-bottom: 35px solid #fff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;

    position: relative;
}

.ear-l {
    bottom: 50px;
    right: 12px;
    transform: rotate(-45deg);
}

.ear-r {
    bottom: 85px;
    left: 92px;
    transform: rotate(45deg);
}


.eye-l, .eye-r {
    height: 20px;
    width: 18px;
    position: relative;
}

.eye-l {
    bottom: 65px;
    left: 17px
}

.eye-r {
    bottom: 85px;
    left: 83px
}

.eye {
    background-color: #262626;
    height: 100%;
    width: 100%;

    border-radius: 50%;
}

.nose {
    height: 0;
    width: 0;
    border-top: 10px solid #8888;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    position: relative;

    bottom: 82px;
    left: 50px;
}

/* CHAPÉU */

.hat {
    height: 35px;
    width: 30px;

    position: relative;
    background-color:  #888;

    bottom: 140px;
    left: 70px;

    transform: rotate(15deg);
}

.brim {
    height: 5px;
    width: 40px;
    position: relative;
    background-color:  #888;

    top: 30px;
    right: 5px;
}


/* ANIMATIONS */

@keyframes blink {
    20% {
        transform: scaleY(0)
    }
}

.box:hover .cat {
    bottom: 100px;
    transition: .5s
}

.box:active .eye {
    animation: blink 1s ;
}

.box:active .cat {
    bottom: 105px;
    transition: .5s
}